body {
	background-image: url('http://www.planwallpaper.com/static/images/i-should-buy-a-boat.jpg');
	background-size:cover;

}

label{
	color:#000066;
	font-weight:bold;
}

button {
    background-color: #00004d;
    border: 3px solid black;
	border-radius:5px;
    color: #ccccff;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
	opacity: 0.9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin: 10% 65% 20% 10%;
}

input{
    width: 13%;
	height:15px;
    padding: 12px 20px;
    margin: 7px 0;
    box-sizing: border-box;
	border:none;
	border-bottom: 2px solid #000066;
    border-radius: 5px;
	background:rgba(0,0,0,0.1);
	text-align:right;
	color:white;
}
input:focus {
    border:none;
	border-bottom: 2px solid #ccccff;
    border-radius: 5px;
}

form {
    width: 70%;
    margin: 0 auto;
	margin-top:60px;
}

label, input {
    /* in order to define widths */
    display: block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}

div.relative{
	position:relative;
	text-align:center;
}
h1{
	margin-left:575px;
	color:#000066;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display:inline-block;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 10px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	width: 200px;
    height: 150px;
}
h2{
	color:white;
	margin-left:250px;
	font-size: 18px;
	font-weight: normal;
}
a{
	color:#6666ff;
	padding: 5px 5px;
    text-align: center; 
    text-decoration:underline;
	font-weight: bold;
	font-size:25px;
	font-style: italic;
	/*border: 2px solid white;*/
	display: inline-block;
}

